# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
venv/
.venv/

# Env
.env

# Database
data/tickets.db
data/test_tickets.db
data/*.db-journal

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/
